*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: ;
}

:root{
    /*Content colors*/ 
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;
    /*Background colors*/ 
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-gray: #3D3D3D;
    /*Accent colors*/
    --accent-pink: #d586E0; 
    --accent-blue: #91A1FA; 
    --accent-green: #77C0AA; 
    --accent-lime: #D1DC97; 
    --accent-red: #E9A9B3;
    
    /*Fonts*/
}

body{
    background-image: url(../assets/background.png);
}
